<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cortland Goffena | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">

        <iframe class="header__player" style="border-radius:12px" 
        src="https://open.spotify.com/embed/playlist/3fKOnwgR2v4Qc0DH09KJKz?utm_source=generator&theme=0" 
        height="80" 
        frameBorder="0" 
        allowfullscreen="" 
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
        loading="lazy"></iframe>

        <h1 class="header__name">Cortland Goffena</h1>

        <p class="header__filler">hi</p>
        
    </div>

    <header class="header_nav">
        <nav class="nav">
            <a href="{{ url_for('home') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('home') }}">
                Projects</a>
            <a href="{{ url_for('spark') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('spark') }}">
                Spark</a>
            <a href="{{ url_for('about') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('about') }}">
                About</a>
            <a href="{{ url_for('contact') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('contact') }}">
                Contact</a>
            <a href="{{ url_for('this_website') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('this_website') }}">
                This Website</a>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

</body>
</html>