{% extends "base.html" %}

{% block content %}
<main class="main main--home">
    <p class="note"><b>Note:</b> You can ping me on LinkedIn if one of the projects is offline.</p>
    <p class="note">These projects don't have the same SLAs that I promise to the business. Thanks!</p>
    <section class="projects">
        {% for project in projects %}
            <a class="u-bare-link" href="#">
                <article class="project-card">
                    <img class="project-card__image" src="{{ url_for('static', filename=project['thumb']) }}"
                    alt="{{ project['name'] }} hero image"/>
                    <header class="project-card__meta">
                        <ul class="categories">
                            {% for category in project['categories'] %}
                                <li class="categories__tag">{{ category }}</li>
                            {% endfor %}
                        </ul>

                        <h2 class="project-card__name">{{ project['name'] }}</h2>
                    </header>
                </article>
            </a>
        {% endfor %}
    </section>

</main>

{% endblock %}