{% extends "base.html" %}

{% block content %}
<main class="main main--spark">
    <p>
        Spark is the leading technology in big data and distributed processing. 
        I figured I would use one bird to hit two stones (that's how it goes right?) and become familiar with DataBricks alongside Spark.
        I am currently working on the Data Engineering track within DataBricks Academy and reading through <em>Data Algorithms with Spark by Mahmoud Parsian</em>.
    </p>

</main>

{% endblock %}