{% extends "base.html" %}

{% block content %}
<main class="main main--this-website">
    <p>
        Believe it or not, this is my first official website that I have built!
    </p>
    <p>
        This website was built with the help of Jose Salvatierra's Udemy course: <a class="course__link" href="https://www.udemy.com/course/web-developer-bootcamp-flask-python/">Web Developer Bootcamp with Flask and Python in 2022</a>
    </p>
    <p>
        The code base consists of HTML, CSS, Jinja2, and Python using the Flask web framework while utilizing Heroku for my infrastructure needs.
        My repo can be found here: <a class="repo__link" href="https://github.com/cmgoffena13/portfolio-website">Portfolio-Website-Repo</a>
    </p>
    <p>
        Being a self-taught programmer, 
        I thought it was a good idea to get my hands dirty in the traditional software engineering space to learn more about websites and the data generation phase of the Data Engineering LifeCycle.
    </p>
</main>


{% endblock %}